<header style="background-color:gray"></header>
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-sm-4" style=""> -->
      <!-- <h3>Controll Gifu and you controll Japan</h3> -->
　  <!-- </div> -->
    <div class="col-sm-2" style="">
    </div>
    <div class="col-sm-6" style="">
      <div class ="concept">
        <h1>『the Key of Japan』は、テクノロジー、アート、カルチャー、ビジネス等、様々なテーマについて語りながら、
        最終的には無理やり岐阜県の話に繋げてしまう新しいローカルメディアです。</h1>
      </div>
    </div>
    <div class="col-sm-4" style="">
    </div>
  </div>



</div>
<footer style="background-color:gray"></footer>
